@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body{
  margin: 0;
  background-color: var(--white);
  font-family: 'Lato', sans-serif;
}
*{
  margin: 0;
}
:root {
  --whitish: rgba(242, 242, 242, 0.9);
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  --backdrop-filter: blur(10px);
  --yellow-gradient: linear-gradient(180deg, #F0BC04 0%, rgba(240, 188, 4, 0.7) 100%);
  --blue: #2A576C;
  --blue-gradient: linear-gradient(180deg, rgba(47, 106, 122, 0.2) 0%, rgba(53, 128, 138, 0.2) 100%);
  --blue-green-gradient: linear-gradient(180deg, #35828B 4.69%, #2A576C 100%);


  --backdrop-filter: blur(20px);
  --border-radius-button: 4px;
  --border-radius-card: 10px;

  --font-size-heading: 2.25rem;
  --font-size-semibold: 1.125rem;
  --font-size-medium: .9375rem;
  --font-size-text: .75rem;

  --font-weight-heading: 900;
  --font-weight-semibold: 700;
  --font-weight-medium: 400;
  --font-weight-text: 300;
}
h1{
  color: var(--black);
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-heading);
}
a{
  text-decoration: none;
  color: black;
  margin: 0;
}
a:visited{
  color: black;
}
a:hover{
  color: #000;
}
p{
  margin: 0;
  word-spacing: 0.2vw;
}
input[type="submit"]{
  background: var(--yellow-gradient);
    border: none;
    color: var(--black);
    padding: 2vh 2vw;
    border-radius: var(--border-radius-button);
    cursor: pointer;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
}